<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189660037458-9ulhs8fue1kujkv16h9qig1henj7ajkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189660037458-9ulhs8fue1kujkv16h9qig1henj7ajkp</string>
	<key>API_KEY</key>
	<string>AIzaSyCSMWaNIkUoPUsHydd3hLd2CcjuEYN6G04</string>
	<key>GCM_SENDER_ID</key>
	<string>189660037458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Bkav.valacloud</string>
	<key>PROJECT_ID</key>
	<string>appnotify-e8517</string>
	<key>STORAGE_BUCKET</key>
	<string>appnotify-e8517.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189660037458:ios:6f93ce669f01de73af7a8b</string>
</dict>
</plist>
